In [1]:
import pandas as dataframe

In [2]:
#sample_data = dataframe.read_csv('/home/ahsan/Documents/enwiki.csv', nrows=2123)

In [3]:
#sample_data.to_csv("/home/ahsan/Documents/sample_data.csv",index=False)

Since Data(CSV file) is too large , just extracted the sample data of few rows & store them in the new CSV file. It will be helpful in understanding the overall structure of CSV file for preprocessing and saves time for processing.

In [4]:
sample = dataframe.read_csv('/home/ahsan/Documents/sample_data.csv')

In [5]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2123 entries, 0 to 2122
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ARTICLE_ID     2123 non-null   int64
 1   TITLE          2123 non-null   object
 2   SECTION_TITLE  2123 non-null   object
 3   SECTION_TEXT   2123 non-null   object
dtypes: int64(1), object(3)
memory usage: 66.5+ KB

In [6]:
sample

,ARTICLE_ID,TITLE,SECTION_TITLE,SECTION_TEXT
0,0,Anarchism,Introduction,\n\n\n\n\n\n'''Anarchism''' is a political phi...
1,0,Anarchism,Etymology and terminology,\n\nThe term ''anarchism'' is a compound word ...
2,0,Anarchism,History,\n\n===Origins===\nWoodcut from a Diggers docu...
3,0,Anarchism,Anarchist schools of thought,\nPortrait of philosopher Pierre-Joseph Proudh...
4,0,Anarchism,Internal issues and debates,\nconsistent with anarchist values is a contro...
...,...,...,...,...
2118,203,Absolute value,Definition and properties,\n===Real numbers===\nFor any real number the...
2119,203,Absolute value,Absolute value function,graph of the absolute value function for real ...
2120,203,Absolute value,Distance,\nThe absolute value is closely related to the...
2121,203,Absolute value,Generalizations,\n===Ordered rings===\nThe definition of absol...
2122,203,Absolute value,Notes,\n

In [7]:
sample.dropna(inplace=True)

In [9]:
columns_to_remove = ['TITLE', 'SECTION_TITLE']
sample = sample.drop(columns=columns_to_remove)
sample

In [11]:
# Grouping the data by 'ARTICLE_ID' as there are many article_ids with the same indexes for different SECTION_TITLE
sample = sample.groupby('ARTICLE_ID')['SECTION_TEXT'].apply(lambda x: ' '.join(x)).reset_index(name='SECTION_TEXT')
sample

     ARTICLE_ID                                       SECTION_TEXT
0             0  \n\n\n\n\n\n'''Anarchism''' is a political phi...
1             1  \n\n\n \n\n\n\n\n'''Autism''' is a neurodevelo...
2             2  \n\nPercentage of diffusely reflected sunlight...
3             3  \n\n\n\n\n\n\nWriting cursive forms of A\n'''A...
4             4  \n\n\n\n\n\n\n'''Alabama''' () is a state in t...
..          ...                                                ...
199         199  \n\n\n'''Albert Camus''' (; 7 November 1913 – ...
200         200  \n\n\n\n\n'''Dame Agatha Mary Clarissa Christi...
201         201  \n\n\n\n\n'''''The Plague''''' (French: '''''L...
202         202  \n\n\n\n'''Applied ethics''' is the branch of ...
203         203  \n\nThe absolute value of a number may be thou...

[204 rows x 2 columns]

In [16]:
sample['SECTION_TEXT'].fillna(' ', inplace=True)

In [18]:
sample['SECTION_TEXT'] = sample['SECTION_TEXT'].str.lower()

In [19]:
sample

     ARTICLE_ID                                       SECTION_TEXT
0             0  \n\n\n\n\n\n'''anarchism''' is a political phi...
1             1  \n\n\n \n\n\n\n\n'''autism''' is a neurodevelo...
2             2  \n\npercentage of diffusely reflected sunlight...
3             3  \n\n\n\n\n\n\nwriting cursive forms of a\n'''a...
4             4  \n\n\n\n\n\n\n'''alabama''' () is a state in t...
..          ...                                                ...
199         199  \n\n\n'''albert camus''' (; 7 november 1913 – ...
200         200  \n\n\n\n\n'''dame agatha mary clarissa christi...
201         201  \n\n\n\n\n'''''the plague''''' (french: '''''l...
202         202  \n\n\n\n'''applied ethics''' is the branch of ...
203         203  \n\nthe absolute value of a number may be thou...

[204 rows x 2 columns]